@font-face {
  font-family: 'pokemon_gbregular';
  src: url('webfont/pokemongb-raeo-webfont.woff2') format('woff2'),
       url('webfont/pokemongb-raeo-webfont.woff') format('woff');
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
  min-width: 1080px;
  min-height: 720px;
}

:root {
  /* Theme */
 --charmender: #F77819; 
 --squirtle: #7FE4D8; 
 --bulbasaur: #B7D0C0;
 --pikachu: #FFD400; 
 --white: #fff;
 --glass: rgba(225, 255, 225, 0.5)
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}


body {
  font-family: 'pokemon_gbregular', Arial, sans-serif;
  justify-content: space-between;
  overflow-y: hidden;
}

/* attributes */
.flex-column { 
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.page {
  height: 100vh;
  width: 100vw;
}

.third {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}


/* typography */


/* intro page */
.intro {
  background: var(--squirtle);
  justify-content: center;
  align-items: center;
}

/* main page */
main {
  /* justify-content: space-between; */
} 

/* header */
header {
  background-color: var(--pikachu);
  justify-content: space-between;
  align-items: center;
  padding: .2rem;
  height: 5vh;
}

h1 {
  align-self: center;
  margin-left: 2rem;
  font-size: 1.4rem;
}

.player {
  align-items: center;
  margin-right: 2rem;
}

header img {
  margin-right: .5rem;
  height: 2rem;
}



/* Main */
.showcase {
  background: var(--bulbasaur);
  /* position: relative; */
  /* justify-content: space-around; */
  width: 100vw;
  height: 90vh;
}

/* Player Panel */

/* Gameboy Panel*/

.gameboy-battle {
   /* align-self: center; */
   justify-content: center;
   /* padding: 2rem 0; */

   /* border: 4px solid pink; */
}

.gameboy {
  /* position: absolute; */
  /* top: 1%; */
  /* left: 38%; */
  /* min-height: 10rem; */
  /* align-self: center; */
  margin-bottom: 3rem;
  height: 28rem;
  width: 22rem;
}

/* Battle Card */
.battle-card {
  position: relative;
  /* width: 100%;  */
  /* height: 10rem */
}

.outer-card {
  width: 26rem;
}


.inner-card {
  position: absolute;
  height: 100%;
  width: 100%;
}

.box {
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  padding: 1.2rem 2rem;
}

.box p {
  font-size: 1.4rem;
}

.box:nth-of-type(2) p {
  font-size: 1.8rem;
}

.box:nth-of-type(2) p:nth-of-type(1) {
  margin-top: .8rem;
  font-size: 2.5rem;
}

/* Side Menu */



.menu {
  background-color: var(--glass);
  align-self: center;
  width: 24rem;
  height: 30rem;
  border-radius: 5px;
  border: #FFD400 5px solid;
}

.playerMenu {

}

/* footer */

footer {
  background-color: var(--pikachu);
  justify-content: center;
  align-items: center;
  font-size: .6rem;
  line-height: 1.8;
  text-align: center;
  height: 5vh;
}

footer p {
  width: 100%;
  padding: .2rem;
}