@font-face {
  font-family: 'pokemon_gbregular';
  src: url('webfont/pokemongb-raeo-webfont.woff2') format('woff2'),
    url('webfont/pokemongb-raeo-webfont.woff') format('woff');
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
  min-width: 1080px;
  min-height: 720px;
}

:root {
  /*===*[Theme]*===*/
  --charmender: #F77819;
  --squirtle: #7FE4D8;
  --bulbasaur: #B7D0C0;
  --pikachu: #FFD400;
  --white: #fff;
  --glass: rgba(200, 228, 216, 1)
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'pokemon_gbregular', Arial, sans-serif;
  justify-content: space-between;
  overflow-y: hidden;
}

/*===*[attributes]*===*/
.flex-column {
  flex-direction: column;
  display: flex;
}

.flex-row {
  flex-direction: row;
  display: flex;
}

.page {
  width: 100vw;
  height: 100vh;
}

.third {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.btn {
  cursor: pointer;
}

.prioity {
  z-index: 3;
}

.tiny-text {
  font-size: .7rem;
}

/*===*[intro page]*===*/
.intro {
  position: relative;
  justify-content: center;
  height: 100vh;
  background: var(--squirtle);
}

.big-pokeball {
  align-self: center;
}

.bg-stripe {
  position: absolute;
  left: 100rem;
  animation: slide 1s forwards ease-in-out;
  width: 100%;
  height: 10rem;
  background: #C55D67;
}

.prof-oak {
  z-index: 1;
  opacity: 0;
  align-self: flex-end;
  animation: fadein 1.5s 1.5s forwards ease-in-out;
  margin-right: 5rem;
}

.form-card {
  font-size: 1.2rem;
  text-align: center;
}

input {
  align-self: center;
  margin-top: .5rem;
  outline: none;
  width: 80%;
  padding: 1rem 1rem;
  font-family: 'pokemon_gbregular', Arial, sans-serif;
  text-align: center;
}

.oaks-msg {
  position: absolute;
  left: 20rem;
  opacity: 0;
  animation: fadein 1s 1.5s forwards ease-in-out;
}

.oaks-msg-content {
  position: absolute;
  left: 22rem;
  justify-content: center;
  align-content: center;
  opacity: 0;
  animation: fadein 1s 1.5s forwards ease-in-out;
  margin-right: 1rem;
  border-radius: 25px;
  width: 36rem;
  height: 14rem;
  background: var(--glass);
}

.oaks-msg-content p {
  position: relative;
  margin: 0 1rem;
  line-height: 2.5;
  text-align: center;
}

.pokemon {
  margin: 0 0 3rem 1.5rem;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  background: var(--glass);
}

.pokemon:hover {
  animation: shake 500ms forwards;
}

.poke {
  position: absolute;
  top: 70%;
  width: 4rem;
  align-self: flex-end;
  transition: 100ms ease-in-out;
}

.poke:hover {
  transition: all 500ms ease-in-out;
  transform: rotate(30deg) scale(1.1);
}

/*===*[header]*===*/
header {
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: .2rem;
  background-color: var(--pikachu);
}

h1 {
  align-self: center;
  margin-left: 2rem;
  font-size: 1.4rem;
}

.player {
  align-items: center;
  margin-right: 2rem;
}

header img {
  margin-right: .5rem;
  height: 2rem;
}

/*===*[Main]*===*/
.showcase {
  width: 100vw;
  height: 90vh;
  background: var(--bulbasaur);
}

.menu {
  align-self: center;
  border: #FFD400 5px solid;
  border-radius: 5px;
  width: 24rem;
  height: 30rem;
  background-color: var(--glass);
}


/*===*[Player Panel]*===*/
.player-menu,
.gymleader-menu {
  justify-content: center;
  align-items: center;
}


/*===*[Gameboy]*===*/
.gameboy-outline {
  align-items: center;
}

.gameboy {
  margin-bottom: 1rem;
  height: 28rem;
  width: 22rem;
  position: relative;
}

.gameboyScreen {
  position: absolute;
  justify-content: center;
  margin-top: 2.7rem;
  width: 11rem;
  height: 9.5rem;
}

.outcome {
  text-align: center;
}

/*===*[Cards]*===*/
.card {
  position: relative;
}

.msg-border {
  width: 26rem;
}

.msg-border-2x {
  width: 40rem;
}

.inner-card {
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.card-text {
  position: absolute;
  font-size: 1rem;
  line-height: 1.4rem;
  top: .75rem;
  left: 1rem;
  width: 24rem;
  height: 10rem;
  padding: 1.5rem 1rem;
  z-index: 0;
}

.box {
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
}

/*===*[Battle Card]*===*/
.opening-box {
  align-items: flex-end;
  margin-right: 1rem;
  /* Fix this margin redundancy */
  margin: 4.5rem 1rem 0 0;
}

.moves-box {
  margin-left: .5rem;
}

.play-again-move {
  justify-content: center;
  align-items: center;
}

.move {
  font-size: 1.4rem;
}

.move::before {
  content: '►';
  opacity: 0;
  margin-right: .2rem;
}

.move:hover::before {
  content: '►';
  opacity: 1;
}


.box:nth-of-type(2) p {
  font-size: 1.8rem;
}

.box:nth-of-type(2) p:nth-of-type(1) {
  margin-top: .8rem;
}

/*===*[footer]*===*/
footer {
  align-items: center;
  height: 5vh;
  background-color: var(--pikachu);
  font-size: .5rem;
  line-height: 1.8;
}

footer p {
  text-align: center;
  width: 70%;
  padding: .2rem;
}

/*===*[Animation]*===*/
@keyframes fadein {
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes shake {
  0% {
    transform: translateX(2px) rotate(3deg);
  }

  20% {
    transform: translateX(-4px) rotate(-6deg);
  }

  40% {
     transform: translateX(3px) rotate(7deg);

  }
  
  80% {
    transform: translateX(0px) rotate(-1deg);
  }
  
  100% {
    transform: translateX(0px) rotate(0deg);

  }

}